h2.title {
  font-weight: 100;
  padding: 0;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 200%;
}

h2.title .dateFlip {
  cursor: pointer;
  background: transparent;
  border: none;
}

.dateSelectorContainer {
  position: relative;
}

.hiddenSelectorContainer {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  opacity: 0;
}

.hiddenSelector {
  transform: scale(3);
  transform-origin: top right;
  width: 3em;
}

.calendar700px {
  width: 700px;
  min-height: 900px;
}